* {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.section {
    padding: 0 200px;
}

.header-section {
    height: 50px;
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    color: #b9bcc2;
}

.hero {
    height: 405px;
    align-items: center;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-left {
    width: 400px;
}

.hero-right {
    width: 400px;
    background-color: white;
    height: 200px;
}

.hero-subtext {
    margin-bottom: 10px;
    color: #c3c5c9;
}

button {
    background-color:#3882F6;
    color: #E5E7EB;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-weight: 700;
    width: 110px;
    font-size: 14px;
}

.header-section,
.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    height: 325px;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 40px;
}

.images {
    display: flex;
    gap: 40px;
}

.image {
    display: flex;
    flex-direction: column;
    text-align: center;
    color:#83858a;
    flex-wrap: wrap;
    width: 150px;
}

.image img {
    margin-bottom: 5px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 15px;
    border-width: 3px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    height: 360px;
    text-align: left;
    padding: 0 240px;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 200;
}

.quote-person {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    margin-right: 45px;
}

.cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.cta-box {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px 80px;
    flex: 1;
    border-style: none;
    border-radius: 10px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.cta-box button {
    border-style: solid;
    border-color: #F9FAF8;
    
}

.cta-box h1 {
    padding: 0;
    margin: 0;
    font-size: 22px;
}

.cta-box p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #c3c5c9;
    font-size: 16px;
}

.footer-section {
    height: 85px;
    background-color: #1F2937;
    color:#c3c5c9;
    display: flex;
    justify-content: center;
    align-items: center;
}